$primary-color: #385094;

$heading-font: "Playfair Display", serif;
$secondary-font: "Poppins", sans-serif;
$space-xs: 8px;
$space-sm: 1.2rem;
$space-md: 1.6rem;
$space-lg: 2.4rem;
$space-xl: 4rem;
$space-2xl: 7.4rem;
